.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3874ff;
  padding: 10px 20px;
  margin-bottom: 150px;
  border-radius: 10px;
}

.header p {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.footer {
  text-align: center;
  background-color: #3874ff;
  padding: 20px;
  margin-top: 80px;
  border-radius: 10px;
}

.footer p {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
